#homepage-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#homepage-contact-footer,
#resume-contact-footer,
#gallery-contact-footer,
#music-slideshow-footer,
#nature-slideshow-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#about-me-title,
#music-title,
#resume-title,
#music-links,
#about-slideshow,
#about-contact-footer,
#nature-title,
#nature-links,
#music-display-window,
#nature-display-window,
#resume-display-window,
#resume-links,
#gallery-title,
#gallery-images {
    text-align: center;
}

#music-education-profile,
#music-work-experience-profile,
#music-production-experience-profile,
#songwriting-highlights-profile,
#music-gig-highlights-profile,
#music-other-experience-profile,
#nature-work-experience-profile,
#through-hiking-experience-profile,
#nature-certifications-profile,
#nature-gallery-profile,
#resume-work-experience-profile,
#resume-education-profile,
#resume-skills-profile {
    display: none;
}

#music-education-text,
#music-work-experience-text,
#music-production-experience-text,
#songwriting-highlights-text,
#music-gig-highlights-text,
#music-other-experience-text,
#nature-work-experience-text,
#through-hiking-experience-text,
#nature-certifications-text,
#nature-gallery-text,
#resume-work-experience-text,
#resume-education-text,
#resume-skills-text {
    display: inline-block;
    max-width: 600px;
    text-align: justify;
}