/* General Styling */

#homepage-text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#homepage-contact-footer,
#image-info-contact-footer,
#resume-contact-footer,
#gallery-contact-footer,
#nature-slideshow-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

#about-me-title,
#music-title,
#resume-title,
#music-links,
#about-contact-footer,
#nature-title,
#nature-links,
#music-display-window,
#nature-display-window,
#resume-display-window,
#resume-links,
#gallery-title,
#gallery-images,
#image-info-title {
    text-align: center;
}

#music-education-profile,
#music-work-experience-profile,
#music-production-experience-profile,
#songwriting-highlights-profile,
#music-gig-highlights-profile,
#music-other-experience-profile,
#nature-work-experience-profile,
#through-hiking-experience-profile,
#nature-certifications-profile,
#nature-gallery-profile,
#resume-work-experience-profile,
#resume-education-profile,
#resume-skills-profile {
    display: none;
}

#music-education-text,
#music-work-experience-text,
#music-production-experience-text,
#songwriting-highlights-text,
#music-gig-highlights-text,
#music-other-experience-text,
#nature-work-experience-text,
#through-hiking-experience-text,
#nature-certifications-text,
#nature-gallery-text {
    display: inline-block;
    max-width: 600px;
    text-align: justify;
    margin-bottom: 200px;
}

#resume-skills-text,
#resume-work-experience-text,
#resume-education-text {
    display: inline-block;
    max-width: 600px;
    text-align: justify;
    margin-bottom: 150px;
}

#about-me-text {
    text-align: left;
    margin-right: 50px;
}

#image-info-description {
    text-align: left;
    max-width: 400px;
    margin-right: 100px;
}

#image-info-image img {
    max-height: 450px;
    max-width: 650px;
    height: auto;
    width: auto;
    margin-left: 30px;
}


/* Slideshow Styling */

#music-slideshow-footer,
#nature-slideshow-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0;
    white-space: nowrap;
    background-color: white;
}

#music-slideshow-footer text,
#nature-slideshow-footer text {
    font-size: medium;
}

#music-slideshow-footer img,
#nature-slideshow-footer img {
    padding-bottom: 12px;
}


/* Gallery Image Styling: */

#gallery-images {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
}
  
#gallery-images img {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #gallery-images {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
  }

@media (max-width: 1000px) {
    #gallery-images {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #gallery-images {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #gallery-images {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}


/* Editable Field Styling */

#admin-login-logo {
    position: absolute;
    right: 0;
    bottom: 10px;
    right: 10px;
    font-size: 30px;  
    text-decoration: none;  
}

#login-popup-window {
    position: fixed;
    width: 340px;
    height: 300px;
    background: white;
    border: 1px solid black;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    text-align: center;
} 

#invalid-credentials-text {
    display: none;
}