{% extends 'base.html' %}

<title>
  {% block title %}About{% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->
    <link
    rel="stylesheet"
    href="../static/static.css">

    <a href='/'>Home</a>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col" id="about-me-title">
                <h1>
                    <u>About Me</u>
                </h1>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col" id="about-me-text">

                <text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus aliquam eleifend mi in nulla posuere. Imperdiet proin fermentum leo vel orci porta. Pellentesque habitant morbi tristique senectus et netus et. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Nunc vel risus commodo viverra maecenas accumsan lacus vel. Elit eget gravida cum sociis natoque penatibus et magnis dis. Ornare arcu odio ut sem. Erat velit scelerisque in dictum. 

                    <br><br>
                    
                    Bibendum arcu vitae elementum curabitur vitae. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Quis hendrerit dolor magna eget est lorem ipsum dolor. Velit sed ullamcorper morbi tincidunt ornare massa eget egestas purus. Volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Lacus sed viverra tellus in. Donec et odio pellentesque diam volutpat. Volutpat commodo sed egestas egestas fringilla phasellus faucibus. Consectetur adipiscing elit ut aliquam purus sit.

                    <br><br>

                    At risus viverra adipiscing at in tellus integer feugiat scelerisque. Nulla posuere sollicitudin aliquam ultrices sagittis orci. Posuere morbi leo urna molestie at elementum eu facilisis sed. Suspendisse interdum consectetur libero id faucibus nisl. Accumsan lacus vel facilisis volutpat. Ut consequat semper viverra nam libero justo. Tincidunt dui ut ornare lectus sit amet est placerat in. In iaculis nunc sed augue lacus. In pellentesque massa placerat duis. Duis convallis convallis tellus id interdum velit. In massa tempor nec feugiat nisl.

                    <br><br>

                    Sit amet venenatis urna cursus eget nunc scelerisque viverra mauris. Non arcu risus quis varius quam quisque id diam. Pulvinar mattis nunc sed blandit libero volutpat sed. Luctus venenatis lectus magna fringilla urna. Pellentesque pulvinar pellentesque habitant morbi. Odio facilisis mauris sit amet massa vitae. Ultrices dui sapien eget mi proin sed. Odio aenean sed adipiscing diam donec. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Vitae semper quis lectus nulla at volutpat diam ut. Vel orci porta non pulvinar neque.

                    <br><br>

                    Leo in vitae turpis massa sed elementum tempus egestas sed. Lacus viverra vitae congue eu consequat ac felis donec et. Fermentum odio eu feugiat pretium nibh ipsum consequat. 

                    <br><br>

                    Volutpat sed cras ornare arcu dui vivamus arcu felis. 

                    <br><br>

                    Nam at tellus id!
                    <br>
                    -Josh Miller

                    <br><br>

                </text>
            </div>

            <div class="col" id="about-slideshow">
                Slideshow here
            </div>

        </div>
    </div>

    <div id="contact-link">
        <a href>Contact</a>
        <br><br>
    </div>
    
</body>

{% endblock %}