{% extends 'base.html' %}

<title>
  {% block title %}John Muir Trail{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
  rel="stylesheet"
  href="../static/static.css">

  <a href='/'>Home</a> | <a href="javascript:history.back()">Go Back</a>

  <br><br>

  <div id="gallery-title">
    <h1>
      <u>{{ trip_name }}</u>
    </h1>
    <h5>
      <i>{{ trip_date }}</i>
    </h5>
    <h6>
      {{ trip_description }}
    </h6>
  </div>

  <br><br><br>

  <div id="gallery-images">
    <h3>
      images will go here
    </h3>
  </div>

  <div id="gallery-contact-footer">
    Contact | <a href = "mailto: joshmiller.ca@gmail.com">Email</a> | <a href="https://www.linkedin.com/in/josh-miller-a8457050/">LinkedIn</a> | <a href="https://github.com/joshmillerdev">Github</a>
    <br><br>
  </div>

</body>

{% endblock %}