{% extends 'base.html' %}

<title>
  {% block title %}Homepage{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
  rel="stylesheet"
  href="../static/static.css">

  <div id="homepage-text">
    <h1>
      Josh Miller
    </h1>
    <a href='/about'>About Me</a> | <a href='/music'>Music Portfolio</a> | <a href="/nature">Nature Experience</a> | <a href='/resume'>Resume</a>
    <br><br><br><br>
  </div>

  <div id="homepage-contact-footer">
    Contact | <a href = "mailto: joshmiller.ca@gmail.com">Email</a> | <a href="https://www.linkedin.com/in/josh-miller-a8457050/">LinkedIn</a> | <a href="https://github.com/joshmillerdev">Github</a>
    <div>
      <a href id="admin-login-logo">🐛</a>
    </div>
    <br><br>
  </div>

  <div id="login-popup-window">
    <div id="login-popup-window-text">
      <h1>
        <br>
        <b>Admin Login</b>
      </h1>
      <input id="username-input-field" placeholder="Username" required /></textarea>
      <br>
      <input id="password-input-field" placeholder="Password" type="password" required /></textarea>
      <br>
      <a href id="submit-credentials-button" type="submit">Submit</a>
      <br><br><br>
      <a href id="close-button-login-popup-window">Close</a>
    </div>
  </div>

  <div id="invalid-credentials-text">
    <h1>
      <br>
      <b>Invalid Credentials</b>
    </h1>
    <small>Try again</small>
    <br><br><br>
    <a href id="close-button-login-popup-window">Close</a>
  </div>

  <!-- JAVASCRIPT -->
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>

{% endblock %}