{% extends 'base.html' %}

<title>
  {% block title %}Homepage{% endblock %}
</title>

{% block body %}

<body>

  <!-- CSS -->
  <link
  rel="stylesheet"
  href="../static/static.css">

  <div id="homepage-text">
    <h1>
      Josh Miller
    </h1>

    <a href='/about'>About Me</a> | <a href='/music'>Music Portfolio</a> | <a href="/nature">Nature Experience</a> | <a href='/resume'>Resume</a>

    <br><br><br><br>

    <div id="homepage-contact-footer">
      Contact | <a href = "mailto: joshmiller.ca@gmail.com">Email</a> | <a href="https://www.linkedin.com/in/josh-miller-a8457050/">LinkedIn</a> | <a href="https://github.com/joshmillerdev">Github</a>

      <div id="admin-login-logo">
        <a href="">🐛</a>
      </div>
      <br><br>
    </div>
  </div>

</body>

{% endblock %}