{% extends 'base.html' %}

<title>
  {% block title %}Music{% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->
    <link
    rel="stylesheet"
    href="../static/static.css">

    <a href='/'>Home</a>

    <br><br>

    <div id="music-title">
        <h1>
            <u>Music</u>
        </h1>
    </div>

    <br>

    <div id="music-links">
        <a href id="music-education-profile-link">Music Education</a> | 
        <a href id="music-work-experience-profile-link">Work Experience</a> |
        <a href id="music-production-experience-profile-link">Production Experience</a> |
        <a href id="songwriting-highlights-profile-link">Songwriting Highlights</a> |
        <a href id="music-gig-highlights-profile-link">Gig Highlights</a> |
        <a href id="music-other-experience-profile-link">Other Experience</a>
    </div>

    <br><br><br>

    <div id="music-display-window">
        <h2>
            Click links to view more
        </h2>
    </div>

    <div id="music-education-profile">
        <h3>
            <b>Music Education:</b>
        </h3>
        <br>
        <text>
            <b>Berklee School of Music</b> | 2010-2013
            <br>
            Bachelors Degree...
            <br>
        </text>
            Metus aliquam eleifend mi in nulla posuere. Imperdiet proin fermentum leo vel orci porta. Pellentesque habitant morbi tristique senectus et netus et.
    </div>

    <div id="music-work-experience-profile">
        <h3>
            <b>Work Experience:</b>
        </h3>
        <br>
        <text>
            <b>Assistant Producer</b> | 201?... -- <i>Los Angeles, CA</i>
            <br>
            <i>The Music Abode</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.

            <br><br>

            <b>Guitar Teacher</b> | 20??... -- <i>Northampton, England, UK</i>
            <br>
            <i>Some Place</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>
    </div>

    <div id="music-production-experience-profile">
        <h3>
            <b>Production Experience:</b>
        </h3>
        <br>
        <text>
            <a href><b>Something that you produced</b></a> | 201? -- <i>Somewhere, USA</i>
            <br>
            <i>Who it was for</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>

    <br><br>

        <text>
            <a href><b>Something else that you produced</b></a> | 201? -- <i>Somewhere, USA</i>
            <br>
            <i>Who it was for</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>

        <br><br>

        <text>
            <a href><b>Another thing that you produced</b></a> | 201? -- <i>Somewhere, USA</i>
            <br>
            <i>Who it was for</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>
    </div>

    <div id="songwriting-highlights-profile">
        <h3>
            <b>Songwriting Highlights:</b>
        </h3>
        <br>
        <text>
            <b>Beer Before Breakfast</b> | 201? -- <a href><i>Listen here</i></a>
        </text>

        <br><br>

        <text>
            <b>Waterproof</b> | 201? -- <a href><i>Listen here</i></a>
        </text>

        <br><br>

        <text>
            <b>He is Chunk (Gotta Have that Chunk)</b> | 201? -- <a href><i>Listen here</i></a>
        </text>
    </div>

    <div id="music-gig-highlights-profile">
        <h3>
            <b>Gig Highlights:</b>
        </h3>
        <br>
        <text>
            <b>Lead Guitarist</b> | 2013-2015 -- <i>Multiple Venue Tour</i>
            <br>
            <i>Dirty Blind (Jefferson Starship opener)</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </text>

        <br><br>

        <text>
            <b>Lead Guitarist</b> | 2014 -- <i>Some Venue, Nashville, TN</i>
            <br>
            <i>Dirty Blind</i>
            <br>
            - Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Nunc vel risus commodo viverra maecenas accumsan lacus vel.
        </text>

        <br><br>

        <text>
            <b>Lead Guitarist</b> | 2013 -- <i>Some Venue, Boston, MA</i>
            <br>
            <i>Dirty Blind</i>
            <br>
            - Bibendum arcu vitae elementum curabitur vitae. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.
        </text>

        <br><br>

        <text>
            <b>Lead Guitarist / Vocalist</b> | 2013 -- <i>Some Venue, Northampton, England, UK</i>
            <br>
            <i>Your Band in England</i>
            <br>
            - Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Lacus sed viverra tellus in. Donec et odio pellentesque diam volutpat.
        </text>
    </div>

    <div id="music-other-experience-profile">
        <h3>
            <b>Other Experience:</b>
        </h3>
        <br>
        <text>
            <b>MC/Host - Live-Band Karaoke</b> | 2015 -- <i>Nashville, TN</i>
            <br>
            <i>The Hard Rock Cafe</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>

        <br><br>

        <text>
            <b>MC/Host</b> | 201?-2013 -- <i>Boston, MA</i>
            <br>
            <i>The BIRN Radio</i>
            <br>
            - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
            - Venenatis urna cursus eget nunc.<br>
            - Risus nec feugiat in fermentum posuere urna nec.<br>
            - Non blandit massa enim nec dui nunc mattis enim.
        </text>
    </div>

    <div id="music-footer">
        Music Slideshow Here
        <br><br><br>
        
        Contact | <a href>Email</a> | <a href="https://www.linkedin.com/in/josh-miller-a8457050/">LinkedIn</a>
        <br><br>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/music.js') }}"></script>

</body>

{% endblock %}