{% extends 'base.html' %}

<title>
  {% block title %}Nature{% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->
    <link
    rel="stylesheet"
    href="../static/static.css">

    <a href='/'>Home</a>

    <br><br>

    <div id="nature-title">
        <h1>
            <u>Nature</u>
        </h1>
    </div>

    <br>

    <div id="nature-links">
        <a href id="nature-work-experience-profile-link">Work Experience</a> | 
        <a href id="through-hiking-experience-profile-link">Through-Hiking-Experience</a> |
        <a href id="nature-certifications-profile-link">Nature Certifications</a> |
        <a href id="nature-gallery-profile-link">Gallery</a>
    </div>

    <br><br><br>

    <div id="nature-display-window">
        <h2>
            Click links to view more
        </h2>
    </div>

    <div id="nature-work-experience-profile">
        <div id="nature-work-experience-text">
            <h3>
                <b>Work Experience:</b>
            </h3>
            <br>
            <text>
                <b>Lead Guide</b> | 2021-2023 -- <i>Gatlinburg, TN</i>
                <br>
                <i>A Walk in the Woods</i>
                <br>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                - Venenatis urna cursus eget nunc.<br>
                - Risus nec feugiat in fermentum posuere urna nec.<br>
                - Non blandit massa enim nec dui nunc mattis enim.

                <br><br>

                <b>Swim Instructor</b> | 20??-20?? -- <i>San Clemente, CA</i>
                <br>
                <i>SCATs of Talega</i>
                <br>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                - Venenatis urna cursus eget nunc.<br>
                - Risus nec feugiat in fermentum posuere urna nec.<br>
                - Non blandit massa enim nec dui nunc mattis enim.
            </text>
        </div>
    </div>

    <div id="through-hiking-experience-profile">
        <div id="through-hiking-experience-text">
            <h3>
                <b>Through-Hiking Experience:</b>
            </h3>
            <br>
            <text>
                <b>Sierra High Route</b> | 2018 -- <i>Yosemite National Park, CA</i>
                <br>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                <br><br>

                <b>John Muir Trail</b> | 2016 -- <i>Yosemite National Park, CA</i>
                <br>
                - Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Nunc vel risus commodo viverra maecenas accumsan lacus vel.

                <br><br>

                <b>The Trail You Hiked</b> | 20?? -- <i>Grand Canyon National Park, AZ</i>
                <br>
                - Metus aliquam eleifend mi in nulla posuere. Imperdiet proin fermentum leo vel orci porta. Pellentesque habitant morbi tristique senectus et netus et.
            </text>
        </div>
    </div>

    <div id="nature-certifications-profile">
        <div id="nature-certifications-text">
            <h3>
                <b>Certifications:</b>
            </h3>
            <br>
            <text>
                <b>Wilderness First Responder</b> | 2021-2023 -- <i>Pisgah, NC</i>
                <br>
                <i>Solo Southeast</i>
                <br>
                - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                - Venenatis urna cursus eget nunc.<br>
                - Risus nec feugiat in fermentum posuere urna nec.<br>
                - Non blandit massa enim nec dui nunc mattis enim.
            </text>
        </div>
    </div>

    <div id="nature-gallery-profile">
        <div id="nature-gallery-text">
            <h3>
                <b>Gallery:</b>
            </h3>
            <br>
            <div id="nature-gallery-list">
                <text>
                    - <a href="/gallery/jmt" id="john-muir-trail-gallery-link">John Muir Trail</a><br>
                    - <a href="/gallery/smokies" id="smokies-gallery-link">Smoky Mountain National Park</a> <br>
                    - <a href="/gallery/grand-canyon" id="grand-canyon-gallery-link">Grand Canyon</a> <br>
                    - <a href="/gallery/shr" id="sierra-high-route-gallery-link">Sierra High Route</a> <br>
                    - etc...
                </text>
            </div>
        </div>
    </div>

    <div id="nature-footer">
        Nature Slideshow Here
        <br><br><br>

        Contact | <a href = "mailto: joshmiller.ca@gmail.com">Email</a> | <a href="https://www.linkedin.com/in/josh-miller-a8457050/">LinkedIn</a>
        <br><br>
    </div>

    <!-- JAVASCRIPT -->
    <script src="{{ url_for('static', filename='js/nature.js') }}"></script>

</body>

{% endblock %}