{% extends 'base.html' %}

<title>
  {% block title %}Resume{% endblock %}
</title>

{% block body %}

<body>

    <!-- CSS -->

    <a href='/'>Home</a>

    <br><br>

    <small>*****<br>click-through menu w/ different categories (links at the top)<br>
    (option for 'full view' available in menu)</small><br>*****<br>

    <br><br>

    <h1>
        <u>Josh Miller</u>
    </h1>

    <br><br>

    <h3>
        <b>About:</b>
    </h3>
    <br>
    <text>
        Eager to bring my enthusiasm and dedication to a role where I can make a meaningful impact.
    </text>

    <br><br>
    ---
    <br><br>

    <h3>
        <b>Experience:</b>
    </h3>
    <br>
    <text>
        <b>Lead Guide</b> | 2021-2023 -- <i>Gatlinburg, TN</i>
        <br>
        <i>A Walk in the Woods</i>
        <br>
        - Led clients on multi-day backpacking trips in Great Smoky Mountains National Park and Pisgah National Forest<br>
        - Led trips for REI Adventures, for which A Walk in the Woods was a regional subcontractor<br>
        - Ensured safety of all clients, administered first aid as necessary<br>
        - Did all pre-trip planning, including route, gear, transportation, and permits; ensured compliance with Commercial Use Agreements with the National Park Service, and the National Forest Service<br>
        - Taught backpacking skills, bear safety, and leave-no-trace methods to clients<br>
        - Offered interpretation of local ecology, history, and particularly the rich biodiversity of GSMNP - Maintained Wilderness First Responder (WFR) and CPR certifications<br>
        - Trained new guides<br>
        - Nominated for "REI Guide of the Year" in 2022

        <br><br>

        <b>Server</b> | 2018-2020 -- <i>Nashville, TN</i>
        <br>
        <i>Jeff Ruby's Steakhouse</i>
        <br>
        - Served a wide range of clientele in Nashville’s premier steakhouse, including high-profile public figures and VIP clients<br>
        - Catered to VIP and corporate clientele in private dining spaces<br>
        - Maintained high level of knowledge of and continuously upsold seasonal food and beverage menus, and in particular an extensive wine selection

        <br><br>

        <b>Beverage Manager</b> | 2017-2018 -- <i>Nashville, TN</i>
        <br>
        <i>Fat Bottom Brewing, Co.</i>
        <br>
        - Created beverage menu of craft beer, wines and cocktails for the grand opening of Fat Bottom Brewing’s new restaurant, The Hop Yard, and event space/wedding venue, The Reserve<br>
        - Onboarded, trained and developed staff to ensure a superior customer experience, a positive work environment, and an attractive and hygienic workplace<br>
        - Worked directly with the General Manager to develop and implement strategies to meet and exceed sales and profit targets<br>
        - Responsible for resolving guest issues and creating lasting positive impressions dry and fresh ingredients paper products, glassware etc.<br>
        - Developed and maintained relationships with third party vendors and contractors, securing allocations of rare and highly marketable products<br>
        - Handled cash funds, deposits, employee checkouts and tip share distribution<br>
        - Secured brewery, restaurant, and event space at close

        <br><br>

        <b>Hospitality Professional</b> | 2014-2016 -- <i>Nashville, TN</i>
        <br>
        <i>The Hermitage Hotel</i>
        <br>
        - Trained in all aspects of all aspects of hospitality and food and beverage service in Tennessee’s only Forbes 5-star and AAA 5-diamond hotel<br>
        - Tended bar at the Oak Bar, a historic prohibition era bar featuring Nashville’s largest whiskey program, serving a wide range of VIP clientele, both guests of the hotel as well as local patrons<br>
        - Served at the Capitol Grille, the hotel’s farm-to-table restaurant featuring ingredients from the hotel’s own HH Farms, with ever- revolving seasonal menus and an extensive wine and beverage selection<br>
        - Served in the hotel’s In-Room Dining, offering discrete service to hotel’s high-profile guests, where I was the designated key-holder to all guest-rooms
    </text>

    <br><br>
    ---
    <br><br>

    <h3>
        <b>Education:</b>
    </h3>
    <br>
    <text>
        <b>Berklee School of Music</b> | 2013
        <br>
        B.M. MUSIC PRODUCTION & ENGINEERING
        <br>
        -Minor: Acoustics & Electronics <br>
        -Magna Cum Laude
    </text>

    <br><br>
    ---
    <br><br>

    <h3>
        <b>Skills:</b>
    </h3>
    <br>
    <text>
        - Music Production <br>
        - Customer Service <br>
        - Leadership <br>
        - Basic Programming <br>
        - 'Leave No Trace' Principles <br>
        - etc...
    </text>

    <br><br>
    ---
    <br><br>

  <a href>Download PDF</a> | <a href>Contact</a>

</body>

{% endblock %}